/Assemblies/*
/Source/WeaponTraitFiddler/packages/*
/Source/WeaponTraitFiddler/bin/*
/Source/WeaponTraitFiddler/obj/*
/Source/WeaponTraitFiddler/.idea/*
Source/WeaponTraitFiddler/WeaponTraitFiddler.sln.DotSettings.user